
  <div class="container-fluid auto px-4 py-4 contain2 card" id="login">

      <h3 class="text-center">Sign In</h3>

      <div class="row">
        <div class="col-lg image">
            <img class="row-img mt-5" src="https://res.cloudinary.com/josh4324/image/upload/v1571495000/lap_pfz29w.jpg" alt="person with laptop">
            <a href="#signup" class="text-center center">Create an Account</a>
        </div>

        <div class="col-lg">
          <form #form2="ngForm" (ngSubmit)="login(form2)">

            <div class="form-group mt-5">
              <label for="email">Email address</label>
              <div class="input-container">
                <i class="fas fa-envelope-square icon"></i>
                <input type="email" class="form-control px-5" id="email1" #email1=ngModel name="email" [(ngModel)]="logindata.email" aria-describedby="email" placeholder="Your email" [class.is-invalid]="email1.invalid && form2.submitted"  name="email" required pattern="\w+@\w+.com">
              </div>
              <div [hidden]="!form2.submitted || email1.valid" class="alert alert-danger px-2 py-2">
                  Enter your email in the correct format
              </div>
            </div>

            <div class="form-group">
              <label for="lpassword">Password</label>
              <div class="input-container">
                <i class="fas fa-lock icon"></i>
                <input type="password" class="form-control px-5" #lpassword="ngModel" name="password" [class.is-invalid]="lpassword.invalid && form2.submitted"   [(ngModel)]="logindata.password" id="lpassword" required placeholder="Password">
              </div>
              <div [hidden]="!form2.submitted || lpassword.valid" class="alert alert-danger px-2 py-2">
                  Enter your password
              </div>
            </div>

            <div class="form-group">
              <label for="projectName">Project Name</label>
              <div class="input-container">
                <i class="fas fa-tasks icon"></i>
                <input type="text" class="form-control px-5" name="projectName" #projectName="ngModel" id="projectName" [class.is-invalid]="projectName.invalid && form2.submitted"   [(ngModel)]="logindata.projectName" required placeholder="Project Name">
              </div>
              <div [hidden]="!form2.submitted || projectName.valid" class="alert alert-danger px-2 py-2">
                  Enter the Project Name
              </div>
            </div>


            <button type="submit" class="btn btn-primary mt-5">Log In</button>
          </form>
        </div>



      </div>

    </div>


