
  <div class="container-fluid auto px-4 py-4 contain card" id="signup">

    <h3 class="text-center">Create Project</h3>

    <div class="row">
      <div class="col-lg mt-5">
        <form #userSignupForm="ngForm" novalidate  (ngSubmit)="onLoginProject()">
          <div class="form-group">
              <label for="fullname">Full Name</label>
              <div class="input-container">
                  <i class="fas fa-user icon"></i>
                  <input type="text" class="form-control px-5" id="fullname" #fullname="ngModel" [class.is-invalid]="fullname.touched && fullname.invalid" name="fullname" required [(ngModel)]="ProjectData.fullname" aria-describedby="fullname" placeholder="Full Name">
              </div>
              <div [hidden]="fullname.untouched || fullname.valid" class="alert alert-danger px-2 py-2">
                  Enter your Full Name
              </div>
          </div>

          <div class="form-group">
            <label for="email">Email address</label>
            <div class="input-container">
              <i class="fas fa-envelope-square icon"></i>
              <input type="email" class="form-control px-5" id="email" #email="ngModel" [class.is-invalid]="email.invalid && email.touched"  name="email" required pattern="\w+@\w+.com" [(ngModel)]="ProjectData.email" aria-describedby="email" placeholder="Your email">
            </div>
            <div [hidden]="email.untouched ||  email.valid" class="alert alert-danger px-2 py-2">
                Enter your email in the correct format
            </div>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>

          <div class="form-group">
            <label for="projectName">Project Name</label>
            <div class="input-container">
              <i class="fas fa-tasks icon"></i>
              <input type="text" class="form-control px-5" name="projname" #projname="ngModel" id="projectName" [class.is-invalid]="projname.invalid && projname.touched"   [(ngModel)]="ProjectData.projname" required placeholder="Project Name">
            </div>
            <div [hidden]="projname.untouched || projname.valid" class="alert alert-danger px-2 py-2">
                Enter the Project Name
            </div>
          </div>

          <button  type="submit" class="btn btn-primary mt-3">Create</button>

        </form>
        <div [hidden]="!userSignupForm.submitted || userSignupForm.invalid" class="alert alert-success mt-3 px-2 py-2">
          <h5>{{ Response }}</h5>
      </div>

      </div>

      <div class="col-lg image">
          <img class="row-img mt-5" src="https://res.cloudinary.com/josh4324/image/upload/v1571495000/lap_pfz29w.jpg" alt="person with laptop">
         
    </div>

    </div>

  </div>

