/* You can add global styles to this file, and also import other style files */
@media screen and (max-width:992px){
  .image {
    display: none  !important;
  }
}

@media screen and (max-width:600px) {
  .contain {
    width:100% !important;
  }

  .contain2 {
    width: 100% !important;
  }
}
